<h1>New Deal</h1>

<p>To create a new deal, enter an optional note describing the
transaction, and provide the seller's release address.  After the deal
is created, you will be able to deposit funds.</p>

<table>
<% form_for :deal, :url => deals_path do |deal_form| %>
 <tr><th> <%= deal_form.label :note %></th>
  <td><%= deal_form.text_field :note %><br /></td></tr>
  
  <tr><th><%= deal_form.label :release_address %></th>
  <td><%= deal_form.text_field :release_address %></td></tr>
  
  <tr><th><%= deal_form.submit "Create New Deal" %></th></tr>
<% end %>
</table>
<br />
<h1>Existing Deals</h1>
<p>Click on an existing deal to view, add funds, or release coins.</p>

<%= render("deal_table") %>