<h1>New Deal</h1>

<p>To create a new deal, enter an optional note describing the
transaction, and provide the seller's release address.  After the deal
is created, you will be able to deposit funds.</p>

<table>
<% form_for :deal, :url => deals_path do |deal_form| %>
 <tr><th> <%= deal_form.label :note %></th>
  <td><%= deal_form.text_field :note %><br /></td></tr>
  
  <tr><th><%= deal_form.label :release_address %></th>
  <td><%= deal_form.text_field :release_address %></td></tr>
  
  <tr><th><%= deal_form.submit "Create New Deal" %></th></tr>
<% end %>
</table>
<br />
<h1>Existing Deals</h1>
<p>Click on an existing deal to view, add funds, or release coins.</p>

<table>
<tr><th>Note</th><th>Release Address</th><th>Balance</th><th>Expire Date</th></tr>
<% @deals.each do |deal| %>
   <tr>
   <td> <%= link_to "#{ deal.note ? deal.note : '(no note)'}", deal_path(deal.uuid)%> </td>
   <td> <%=deal.release_address %></td>
   <td> <%= "%.2f" % deal.line_item_balance %> </td>
   <td> <%= deal.expires_on.strftime("%d-%b-%Y") %></td>
<% end %>
</table>