<%= render("header") %>

<hr />

<p>Add coins by sending to the <b>Escrow</b> address:</p>

<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class='escrow_address'><%= @deal.send_address %>  </p></div>

<p>Please remember to include <%= link_to "our fee", fees_path %>  when sending coins.</p>

<% if !@deal.expired? %>
  <p>When you are ready to release coins, click release button.</p>

  <%= form_for @deal, :url => deal_release_path(@deal.uuid) do |deal_form| %>
  <%= text_field_tag :release_amount, @confirmed_balance %>
  <%= deal_form.submit "Release", :confirm => "Are you sure you want to release these coins?" %>
  <% end %>

<% end %>

<p>You can use <%= link_to "this link", deal_path(@deal.uuid) %> to
show your counterparty that funds have been deposited. </p>

<p>&nbsp;</p>
<p>&nbsp;</p>
  
<hr />
<h2>Deal History</h2>

<table>
<tr><th>Type</th><th>Debit</th><th>Credit</th><th>Total</th></tr>
<% @deal.deal_line_items.each do |line_item| %>

  <tr>
    <td><%= line_item.tx_type %></td>
    <td><%= line_item.debit %></td>
    <td><%= line_item.credit %></td>
    <td></td>
  </tr>
<% end %>
<tr><th>Total</th><th></th><th></th><th><%= @deal.line_item_balance %></th></tr>
</table>