<p><b>Note:</b> <%= @deal.note ? @deal.note : "(no note)" %></p>
<p><b>Release Address:</b> <%= @deal.release_address %></p>

<p><b>Available Balance:</b>
<%= @confirmed_balance %>
<i>(<%= @unconfirmed_balance %> pending)</i> </p>


<p>Add coins by sending to the <b>Excrow</b> address:</p>

<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class='escrow_address'><%= @deal.send_address %>  </p></div>

<p>When you are ready to release coins, click release button.</p>

<%= form_for @deal, :url => deal_release_path(@deal.uuid) do |deal_form| %>
<%= text_field_tag :release_amount, @confirmed_balance %>
<%= deal_form.submit "Release", :confirm => "Are you sure you want to release these coins?" %>
<% end %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<h2>Deal History</h2>

<table>
<tr><th>Type</th><th>Debit</th><th>Credit</th><th>tx_id</th></tr>
<% @deal.deal_line_items.each do |line_item| %>

  <tr>
    <td><%= line_item.tx_type %></td>
    <td><%= line_item.debit %></td>
    <td><%= line_item.credit %></td>
    <td><%= line_item.tx_id %></td>
  </tr>
<% end %>

</table>