<h1>Deal</h1>

<p>Unconfirmed Balance: <%= @unconfirmed_balance %></p>
<p>Confirmed Balance: <%= @confirmed_balance %></p>

<p>Add coins by sending to <%= @deal.send_address %>.  This is the
<b>Escrow</b> address.  Funds will be held here until released</p>

<p>Funds will be sent to <%= @deal.release_address %> when released.
This is the <b>Release</b> address.  <b>Do not send funds
directly to this address or they will not be escrowed.</b></p>

<p>When you are ready to release coins, click release button.</p>

<h2>Deal History</h2>

<table>
<tr><th>Type</th><th>Debit</th><th>Credit</th><th>Fee</th><th>tx_id</th></tr>
<% @deal.deal_line_items.each do |line_item| %>

  <tr>
    <td><%= line_item.tx_type %></td>
    <td><%= line_item.debit %></td>
    <td><%= line_item.credit %></td>
    <td><%= line_item.fee %></td>
    <td><%= line_item.tx_id %></td>
  </tr>
<% end %>

</table>