<h1>New Transaction</h1>

<% form_for :transaction, :url => transactions_path do |tx_form| %>
  <%= tx_form.label :note %>
  <%= tx_form.text_field :note %><br />
  <%= tx_form.label :release_address %>
  <%= tx_form.text_field :release_address %><br />
  <%= tx_form.submit "Create New Transaction" %>
<% end %>

<h1>Existing Transactions</h1>
<% @txs.each do |tx| %>
<p>
  <%= link_to "#{ tx.note ? tx.note : '(no note)'} -  #{tx.release_address}", transaction_path(tx.id) %>
</p>
<% end %>