<!DOCTYPE html>
<html>
<head>
  <title>mybitsafe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class='header'>
<h1><%= link_to "my.bit.safe", root_path %></h1>
</div>
<div class='sidebar'>

<div class='sidebar_menu'>
<% if user_signed_in? %>

<div><%= link_to "My Deals", deals_path %></div>
<div><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></div>

<% else %>
 
<div><%= link_to "Sign Up", new_user_registration_path %></div>
<div><%= link_to "Sign In", new_user_session_path %></div>
<% end %>
</div>
</div>

<div class='body'>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p><b> ALPHA!  USE WITH TESTNET ONLY</b></p>

<%= yield %>
</div>

<div class='footer'>
<%= link_to "Fee Schedule", fees_path %>
|
<%= link_to "About", root_path %>
|
<%= link_to "Contact", "mailto:support@mybitsafe.net" %>
|
<%= link_to "Terms of Service", terms_of_service_path %>
</div>
</body>
</html>
